/* ProductCard.css */
.product-card img {
    border-radius: 8px;
  }
  
  .product-card h3 {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
  .product-card p {
    font-size: 1rem;
    color: #555;
    margin: 5px 0;
  }
  